<header></header>

<div id="main" class="container-fluid">
    <div id="container-changeable" class="">
        <div class="top_container">
            <div class="breadCrumb">
                Manage Devices >> Device Profile
            </div>

            <div class="title-of-section">
                Device Profile for 015116002029285
            </div>

            <div class="row">
                <div class="col-12 flex_center">
                    <div class="col boxStatus">
                        <div class="col pl-0">
                            <div class="boxTitle">UPS Trailer V123456</div>
                            <div class="readOnlyModeInfo">
                                <div class="data-col">
                                    <div class="h_label">Smart7 (77-6800)</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Device IMIE:</div>
                                    <div class="ro-value">015116002029285</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Device Serial #:</div>
                                    <div class="ro-value">103633</div>
                                </div>
                            </div>
                        </div>

                        <div class="col pr-0">
                            <div class="statusBtn withIcon green boxBtnMargin">
                                <a href="javascript:void(0);" class="btnTxt">production</a>
                                <a href="javascript:void(0);" class="btnIcon">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                            <div class="readOnlyModeInfo">
                                <div class="data-col">
                                    <div class="h_label">Jersey Telecom</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">SIM #:</div>
                                    <div class="ro-value">89744455454545454</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Country:</div>
                                    <div class="ro-value">United Kingdom</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Phone #:</div>
                                    <div class="ro-value">&nbsp;</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="spacePart">&nbsp;</div>
                    <div class="col boxStatus">
                        <div class="col-12 pl-0">
                            <div class="boxTitle">Current Status</div>
                        </div>
                        <div class="col pl-0">
                            <div class="readOnlyModeInfo">
                                <div class="data-col">
                                    <div class="label">
                                        <div class="statusBtn white">
                                            <a href="javascript:void(0);" class="btnTxt">installed</a>
                                        </div>
                                    </div>
                                    <div class="ro-value">
                                        <span>020-07-01</span> &nbsp;
                                        <span>10:41</span> &nbsp;
                                        <span>PDT</span>
                                    </div>
                                </div>
                                <div class="data-col mt-3">
                                    <div class="label">
                                        <div class="statusBtn pink">
                                            <a href="javascript:void(0);" class="btnTxt">alert</a>
                                        </div>
                                    </div>
                                    <div class="ro-value">
                                        <a href="javascript:void(0);">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col pr-0">
                            <div class="readOnlyModeInfo">
                                <div class="data-col">
                                    <div class="h_label">Latest Report</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Received:</div>
                                    <div class="ro-value">
                                        <span>2020-07-01</span>&nbsp;
                                        <span>10:40</span>&nbsp;
                                        <span>PDT</span>
                                    </div>
                                </div>
                                <div class="data-col">
                                    <div class="ro-value">
                                        <a href="javascript:void(0);">Details</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- <div>
                <mat-tab-group>
                    <mat-tab label="First"> 
                        sfjkdfjh ghfgh jdg    
                    </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                    <mat-tab label="Third"> Content 3 </mat-tab>
                  </mat-tab-group>
            </div> -->
            <div class="row">
                <div class="col-12 mt-5 mb-3">
                    <div class="col pl-0 pr-0">
                        <mat-tab-group>
                            <mat-tab label="Configuration">
                                <div class="col-12 pl-0 pr-0">
                                    <p>These details are current as of the latest maintenance report received from the
                                        device 2021-07-01 10:41 PDT / Production MS </p>
                                </div>
                                <div class="col-12 pl-0 pr-0">
                                    Will add details here.
                                </div>
                            </mat-tab>
                            <mat-tab label="Reports"> Reports </mat-tab>
                            <mat-tab label="Asset Values"> Asset Values </mat-tab>
                            <mat-tab label="Senser Performance"> Senser Performance </mat-tab>
                            <mat-tab label="AT Commands"> AT Commands</mat-tab>
                            <mat-tab label="Device Forwarding"> Device Forwarding" </mat-tab>
                            <mat-tab label="Campaigns"> Campaigns </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>